<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/customer-update}" th:object="${customer}" method="post">
    <label for="idCustomer">id</label>
    <input readonly type="number" th:field="*{idCustomer}" id="idCustomer" placeholder="id">
    <br/>
    <label for="nameCustomer">Name customer</label>
    <input type="text" th:field="*{nameCustomer}" id="nameCustomer" placeholder="Name customer">
    <br/>
    <label for="birthdate">Birthdate</label>
    <input type="date" th:field="*{birthdate}" id="birthdate" placeholder="Birthdate">
    <br/>
    <label for="address">Address</label>
    <input type="text" th:field="*{address}" id="address" placeholder="Address">
    <br/>
    <label for="country">Country</label>
    <input type="text" th:field="*{country}" id="country" placeholder="Country">
    <br/>
    <label for="phoneCustomer">Phone customer</label>
    <input type="text" th:field="*{phoneCustomer}" id="phoneCustomer" placeholder="Phone customer">
    <br/>
    <input type="submit" value="Update customer">
</form>
</body>
</html>