<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<form action="#" th:action="@{/customer-create}" th:object="${customer}" method="post">
    <label for="nameCustomer">Name customer</label>
    <input type="text" th:field="*{nameCustomer}" id="nameCustomer" placeholder="Name customer">

    <label for="birthdate">Birthdate</label>
    <input type="date" th:field="*{birthdate}" id="birthdate" placeholder="Birthdate">

    <label for="address">Address</label>
    <input type="text" th:field="*{address}" id="address" placeholder="Address">

    <label for="country">Country</label>
    <input type="text" th:field="*{country}" id="country" placeholder="Country">

    <label for="phoneCustomer">Phone customer</label>
    <input type="text" th:field="*{phoneCustomer}" id="phoneCustomer" placeholder="Phone customer">

    <input type="submit" value="Create customer">
</form>
</body>
</html>